#front_page {
  height: calc( 500% - 24vh );
  .block_display {
    width: 100%;
    height: 92vh;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    // First block
    &:nth-child(1) {
      z-index: 5;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      background-image: url("../images/front_page_block_1.png");
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: calc( 95% - 3px);
        transform: rotateZ(3.9deg);
        height: 10px;
        background-color: #150501;
      }
      .button_video {
        display: none;
        width: 100px;
        height: 100px;
        background-color: $button_yellow_color;
        border-radius: 50%;
        position: absolute;
        top: calc( 50% - 50px );
        left: calc( 50% - 50px );
        background-image: url("../images/icons/polygon.svg");
        background-repeat: no-repeat;
        background-position: 63% 50%;
        background-size: 50%;
        &:hover {
          cursor: pointer;
        }
      }
      .text {
        color: $white;
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 1.6rem;
        position: absolute;
        top: calc( 100vh - 8vh - 17% - 180px );
        left: 5%;
        p {
          white-space: nowrap;
        }
      }
    }
    // Second block
    &:nth-child(2) {
      top: -10vh;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      background-image: url("../images/front_page_block_2.png");
      background-color: #1c0200;
      .text {
        @include bigText();
      }
      .buttons {
        display: flex;
        margin-top: 3vh;
        button {
          @include buttonGlobal();
          background: linear-gradient(180deg, #FFFFFF -16.91%, #DADADA 129.13%), #FFFFFF;
          &:nth-child(2) {
            min-width: 260px;
          }
        }
      }
    }
    // Third block
    &:nth-child(3) {
      top: -24vh;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../images/front_page_block_3.png");
      .text {
        margin-top: 20vh;
        @include bigText();
      }
      .buttons {
        display: flex;
        margin-top: 3vh;
        button {
          min-height: 83px;
          @include buttonGlobal();
          background-color: $button_yellow_color;
        }
      }
    }
    // Fourth block
    &:nth-child(4) {
      top: -24vh;
      z-index: 2;
      background-image: url("../images/front_page_block_4.png");
      .text_mobile,
      .buttons_mobile {
        display: none;
      }
      .text {
        color: $white;
        font-family: $roboto;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 1.6rem;
        position: absolute;
        top: calc( 100vh - 8vh - 21% - 180px );
        left: 5%;
        p {
          white-space: nowrap;
        }
      }
    }
    // Fifth block
    &:nth-child(5) {
      top: -24vh;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url("../images/front_page_block_5.png");
      .text {
        @include bigText();
      }
      .buttons {
        display: flex;
        margin-top: 3vh;
        button {
          min-height: 83px;
          @include buttonGlobal();
          background-color: $button_yellow_color;
        }
      }
    }
  }
}

/* Mobile size 475px ($mobile_size) */
@media all and (max-width: $mobile_size) {
  #front_page {
    .block_display:nth-child(1),
    .block_display:nth-child(2),
    .block_display:nth-child(3),
    .block_display:nth-child(4),
    .block_display:nth-child(5) {
      &::after {
        display: none;
      }
      clip-path: none;
      height: 90vh;
      top: 0;
      .buttons {
        flex-direction: column;
        button {
          flex: 1 1 75px;
          a {
            font-size: 2.5rem !important;
          }
        }
        button:nth-child(1),
        button:nth-child(2) {
          margin: 0;
        }
        button:nth-child(2) {
          margin-top: 3vh;
        }
      }
    }
    .block_display:nth-child(1) {
      .button_video {
        display: block;
      }
      .text {
        display: none;
      }
    }
    .block_display:nth-child(2) {
      background-image: url("../images/background_block_2.png");
    }
    .block_display:nth-child(4) {
      .text {
        display: none;
      }
      .text_mobile {
        margin-top: 20vh;
        @include bigText();
        display: block;
      }
      .buttons_mobile {
        display: flex;
        margin-top: 3vh;
        button {
          @include buttonGlobal();
          min-height: 83px;
          margin: 0 auto !important;
          margin-right: 0;
          background-color: $button_yellow_color;
          a {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

/* Large size 1000px ($desktop_size) */
@media all and (max-width: $desktop_size) {
  #front_page {
    .block_display:nth-child(1),
    .block_display:nth-child(2),
    .block_display:nth-child(3),
    .block_display:nth-child(4),
    .block_display:nth-child(5) {
      .buttons {
        button {
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
