// Color blocks
$yellow_color_header: #FDC300;
$yellow_color_footer: #F4BA01;
$burgundy_color_logo: #4E1604;
$scroll_color: #7F7F7F;

// Text Colors
$header_text_color: #501E0C;
$global_color_text: #4E1604;
$text_history_page: #3F3722;
$text_yellow_color: #FDC300;

// Button colors
$button_yellow_color: #FDC300;

// def color
$white: #fff;
$black: #000;

// Fonts
$roboto: 'Roboto', sans-serif;
$pribambas: 'Pribambas', sans-serif;

// Other
$width_block_qualities: 33.333%;