.header {
  display: flex;
  flex-direction: column;
  float: left;
  overflow: auto;
  width: 24%;
  height: 100vh;
  background-color: $yellow_color_header;
  background-image: url("../../images/houses.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $scroll_color;
    border-radius: 6px;
  }
  .button_respons_menu {
    display: none;
  }
  .logo {
    a {
      display: block;
      img {
        width: 100%;
      }
    }
  }
  .menu {
    flex: 1;
    #img_preview {
      width: 100%;
      padding: 0 19%;
      margin-top: -5%;
    }
    li {
      width: 100%;
      line-height: 1.6;
      a {
        font-family: $pribambas;
        color: $header_text_color;
        text-decoration: none;
        text-align: center;
        display: block;
        font-size: 2rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .head_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    .language_panel {
      margin-left: 5%;
      a {
        font-family: $roboto;
        padding: 7px;
        text-decoration: none;
        color: $header_text_color;
        border: 1px solid $header_text_color;
        border-radius: 10px;
      }
    }
    .icon_links {
      margin-right: 10%;
      a {
        text-decoration: none;
        margin-right: 15px;
        padding: 5px;
        display: block;
        float: left;
      }
    }
  }
}

/* Mobile size 320px ($mobile_size) */
@media all and (max-width: $mobile_size) {
  .header {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10;
    overflow: initial;
    background-image: none;
    // Button Effect menu
    .button_respons_menu {
      display: block;
      position: absolute;
      width: 5vh;
      height: 4vh;
      top: 3vh;
      left: 5vh;
      z-index: 12;
      transition: .1s;
      background-image: url("../images/icons/burger.svg");
      background-size: cover;
    }
    .logo {
      display: flex;
      justify-content: center;
      z-index: 10;
      a {
        img {
          height: 18vh;
          width: auto;

        }
      }
    }
    // Menu
    .menu {
      position: fixed;
      display: block;
      background-color: $yellow_color_header;
      top: 10vh;
      width: 100%;
      height: 90vh;
      padding-top: 5vh;
      left: -100%;
      transition: .3s;
      li {
        a {
          font-size: 3rem;
        }
      }
    }
    // If active
    &.active {
      position: fixed;
      .button_respons_menu {
        background-image: url("../images/icons/close.svg");
        background-size: cover;
        height: 5vh;
      }
      .menu {
        left: 0;
      }
      .head_footer {
        .icon_links {
          left: 0;
        }
      }
    }
    // Header footer
    .head_footer {
      position: fixed;
      width: 100%;
      z-index: 10;
      .language_panel {
        position: absolute;
        right: 3vh;
        top: 4vh;
        a {
          font-size: 1.5rem;
        }
        a:nth-child(2) {
          display: none;
        }
        &.active {
          top: 3vh;
          a:nth-child(1) {
            display: none;
          }
          a:nth-child(2) {
            display: block;
          }
        }
      }
      .icon_links {
        left: -100%;
        position: fixed;
        transition: .3s;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}


/* Large size 1366px ($large_size) */
@media all and (max-width: $large_size) {
  .header {
    .head_footer {
      justify-content: space-between;
      .language_panel {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex: 2;
        margin: 0 0 0 0;
      }
      .icon_links {
        display: flex;
        flex: 3;
        flex-direction: row;
        margin: 0 0 0 0;
        justify-content: space-evenly;
        a {
          margin: 0;
        }
      }
    }
  }
}